<section class="kue-footer">

  <!-- FOOTER NAVIGATION -->
  <div class="kue-footer__footer-nav">
    <div class="container">
      <div class="row">
        <ul class="footer-nav__nav">
          <li class="first leaf"><a href="https://www.kuehne.de/" title="" class="active">Home</a></li>
          <li class="collapsed"><a href="https://www.kuehne.de/produktsuche" title="">Produkte</a></li>
          <li class="leaf"><a href="https://www.kuehne.de/zutaten-erklaert" title="">Inhaltsstoffe</a></li>
          <li class="leaf"><a href="https://www.kuehne.de/service/faq" title="">FAQ</a></li>
          <li class="leaf"><a href="https://www.kuehne.de/rezeptsuche" title="">Rezepte</a></li>
          <li class="leaf"><a href="https://www.kuehne.de/impressum" title="">Impressum</a></li>
          <li class="leaf"><a href="https://www.kuehne.de/datenschutz" title="">Datenschutz</a></li>
          <li class="leaf"><a href="https://www.kuehne.de/allgemeine-einkaufsbedingungen" title="">AEBs</a></li>
          <li class="last leaf"><a href="https://www.kuehne.de/allgemeine-verkaufsbedingungen" title="">AVBs</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END FOOTER NAVIGATION -->

  <!-- FOOTER MAIN -->
  <div class="kue-footer__footer-main">
    <div class="kue-footer__page-scroller">
      <!-- <div class="container">
        <a href="#" class="scrolltop">
          <span></span>
        </a>
      </div> -->
    </div>

    <div class="container">
      <div class="row">

        <div class="kue-footer__left-column">
          <div class="kue-footer__service">
            <h2>Kundenservice</h2>
            <p class="service__copy">Sie können uns telefonisch, per <a href="/service/kontakt">Kontaktformular</a>, per Fax oder auf dem Postwege erreichen.</p>
            <div class="service__address">
              <p><b>Zentrale:</b><br>
                Carl Kühne KG (GmbH &amp; Co.)<br>
                Kühnehöfe 11<br>
                <span style="line-height: 1.6;">D-22761 Hamburg</span>
              </p>
              <style>
                .service__email {
                  display: none;
                }
              </style>
            </div>
            <div class="service__contact-info">

              <ul class="service__telephone-number-list">
                <li>Telefon: +49 (0)40 85 305- 0</li>
                <li>Telefax: +49 (0)40 85 305-235</li>
              </ul>

              <p class="service__email"><span class="service__email-label">E-Mail</span> <a href="mailto:"></a></p>
            </div>
          </div>

        </div>

        <div class="kue-footer__middle-column">


          <!-- <div class="kue-footer__social-web">
            <h2>Social Web</h2>
            <ul class="social-web__social-link-list">
              <li><a href="https://www.facebook.com/kuehnedeutschland/" target="_blank"><span class="icon"><svg>
                      <use xlink:href="/sites/default/themes/kuehne/img/symbol-defs-icomoon.svg#icon-facebook"></use>
                    </svg></span><span>Facebook</span></a></li>
              <li><a href="https://www.youtube.com/user/kuehnedeutschland" target="_blank"><span class="icon"><svg>
                      <use xlink:href="/sites/default/themes/kuehne/img/symbol-defs-icomoon.svg#icon-youtube"></use>
                    </svg></span><span>YouTube</span></a></li>
              <li><a href="https://de.pinterest.com/kuehne_de/" target="_blank"><span class="icon"><svg>
                      <use xlink:href="/sites/default/themes/kuehne/img/symbol-defs-icomoon.svg#icon-pinterest2"></use>
                    </svg></span><span>Pinterest</span></a></li>
              <li><a href="https://www.xing.com/companies/carlkühnekg" target="_blank"><span class="icon"><svg>
                      <use xlink:href="/sites/default/themes/kuehne/img/symbol-defs-icomoon.svg#icon-xing"></use>
                    </svg></span><span>Xing</span></a></li>
              <li><a href="https://www.instagram.com/kuehne_de/?hl=de" target="_blank"><span class="icon"><svg>
                      <use xlink:href="/sites/default/themes/kuehne/img/symbol-defs-icomoon.svg#icon-instagram"></use>
                    </svg></span><span>Instagram</span></a></li>
            </ul>
          </div>

          <div class="kue-footer__page-suggestions kue-footer__page-suggestions-newsletter">
            <h2>Newsletter</h2>
            <ul class="page-suggestions__link-list">
              <li class="first last leaf"><a href="/service/newsletter" title="">Zur Anmeldung</a></li>
            </ul>
          </div> -->
        </div>

        <div class="kue-footer__right-column">
          <div class="kue-footer__b2b">
            <!-- <h2>B2B | Food Partners</h2>
            <ul class="b2b__link-list">
              <li class="first leaf"><a href="https://kuehne-foodpartners.com/food-service/" title="" target="_blank">Systemgastronomie</a></li>
              <li class="leaf"><a href="https://kuehne-foodpartners.com/industrie/" title="" target="_blank">Industrie</a></li>
              <li class="last leaf"><a href="https://kuehne-foodpartners.com/sortiment/" title="" target="_blank">Großhandel / Food Service</a></li>
            </ul> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="kue-footer__left-column">
          <!-- <div class="main-navigation-desktop kue-footer__language-switch scrolled-down">
            <p>
              <a href="#s1" class="" data-nav-target=".js-meta-nav_3" data-nav-class="meta-nav">
                <svg class="icon">
                  <use xlink:href="/sites/default/themes/kuehne/img/symbol-defs-icomoon.svg#icon-earth"></use>
                </svg>
                <span>De</span>
              </a>
            </p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- END FOOTER MAIN -->

  <!-- FOOTER LANGUAGE SELECTION -->
  <div class="kue-footer__language-selection">
    <!-- <div class="container">
      SELECT LANGUAGE
    </div> -->
  </div>
  <!-- END FOOTER LANGUAGE SELECTION -->

</section>




<!--
<footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer>
-->
