<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>
<section id="main-navigation" style="maxWidth: 1455px">
  <div class="main-navigation-desktop" style="height: 116px;">
    <div class="js-backdrop"></div>
    <div class="sticky-wrapper is-sticky">
      <div class="meta-navigation">

      </div>

      <div class="nav-bar js-fixed">
        <div class="container">
          <nav class="main">
            <ul>
              <li>
                <a href="https://www.kuehne.de/produktsuche" class="link link-anim headline h_s4" data-nav-target=".js-flyout_1" data-nav-class="flyout">Produkte</a>
              </li>
              <li>
                <a href="https://www.kuehne.de/rezeptsuche" class="link link-anim headline h_s4" data-nav-target=".js-flyout_2" data-nav-class="flyout">Rezepte</a>
              </li>
              <li>
                <a href="https://www.kuehne.de/kuehne-ideen" class="link link-anim headline h_s4" data-nav-target=".js-flyout_3" data-nav-class="flyout">Kühne-Magazin</a>
              </li>
              <li>
                <a href="https://www.kuehne.de/aktionen" class="link link-anim headline h_s4" data-nav-target=".js-flyout_4" data-nav-class="flyout">Aktionen</a>
              </li>
              <li>
                <a href="https://www.kuehne.de/service/kontakt" class="link link-anim headline h_s4" data-nav-class="flyout">Kontakt</a>
              </li>
            </ul>
          </nav>
          <nav class="sub">
            <ul>
              <li>
                <a href="https://www.kuehne.de/service/faq" class="link link-anim-span headline h_s4" data-nav-class="meta-nav">
                  <span>Service</span>
                </a>
              </li>
              <li>
                <a href="https://www.kuehne.de/unternehmen" class="link link-anim headline h_s4" data-nav-target=".js-flyout_sub_2" data-nav-class="flyout">
                  Unternehmen
                </a>
              </li>
              <li>
                <a href="https://www.kuehne.de/karriere" class="link link-anim-span headline h_s4" data-nav-class="meta-nav">
                  <span>Karriere</span>
                </a>
              </li>
              <!-- <li>
                <a href="#s1" class="link link-anim-span headline h_s4" data-nav-target=".js-meta-nav_4" data-nav-class="meta-nav">
                  <span>Social</span>
                </a>
              </li> -->
              <!-- <li>
                <a href="/service/newsletter" class="link link-anim-span headline h_s4 icon-link" data-nav-class="meta-nav">
                  <svg class="icon">
                    <use xlink:href="/sites/default/themes/kuehne/img/symbol-defs-icomoon_new.svg#icon-mail"></use>
                  </svg>
                  <span></span>
                </a>
              </li>
              <li>
                <a href="#s2" class="link link-anim-span headline h_s4 icon-link" data-nav-target=".js-meta-nav_6" data-nav-class="meta-nav">
                  <svg class="icon">
                    <use xlink:href="/sites/default/themes/kuehne/img/symbol-defs-icomoon.svg#icon-search"></use>
                  </svg>
                  <span></span>
                </a>
              </li>
              <li>
                <a href="#s1" class="link link-anim-span headline h_s4 icon-link" data-nav-target=".js-meta-nav_7" data-nav-class="meta-nav">
                  <svg class="icon">
                    <use xlink:href="/sites/default/themes/kuehne/img/symbol-defs-icomoon.svg#icon-earth"></use>
                  </svg>
                  <span>de</span>
                </a>
              </li> -->
            </ul>
          </nav>

        </div>
        <div class="nav-bar__logo">
          <a href="https://www.kuehne.de/">
            <img src="https://www.kuehne.de/sites/default/themes/kuehne/img/logo-de.png">
          </a>
        </div>

        <div class="clearfix"></div>
      </div>


    </div>
  </div>
  <div class="main-navigation-mobile" style="height: 83px;">
        <div class="sticky-wrapper is-sticky">
            <div class="meta-navigation">
                <div class="container">
                    <div class="meta-wrapper__inner">
                                                                                                                                                                                                                                                                                                                                                                                                                        </div>
                </div>
            </div>

            <div class="nav-bar">
                <nav class="main">
                    <ul>
                        <li>
                            <a href="https://www.kuehne.de/" class="menu-btn btn btn-green yes-touch-no-hover">
                                <span class="bg-wrapper">
                                    <span class="burger-icon">
                                        <img src="https://kuehne.zendesk.com/hc/article_attachments/4410816305298/arrow.svg" alt="arrow"/>
                                    </span>
                                </span>
                            </a>
                            <span class="menu-label">Home</span>
                        </li>
                    </ul>
                </nav>
                <div class="nav-bar__logo">
                    <a href="https://www.kuehne.de/">
                        <img src="https://www.kuehne.de/sites/default/themes/kuehne/img/logo-de.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



<header class="header">
<!--  <div class="logo">
    {{#link 'help_center'}}
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
      {{#if settings.show_brand_name}}
        <span aria-hidden="true">{{help_center.name}}</span>
      {{/if}}
    {{/link}}
  </div>
-->

<!-- mobil header from the guide portal -->
  <div class="nav-wrapper">
    <button class="menu-button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
      </svg>
    </button>
    <nav class="user-nav" id="user-nav">
      {{link 'community'}}
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{#if signed_in}}
      <div class="user-info dropdown">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{user_avatar class="user-avatar"}}
          <span class="hide-on-mobile">
            {{user_name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </span>
        </button>
        <div class="dropdown-menu" role="menu">
          {{link "my_activities" role="menuitem"}}
          {{my_profile role="menuitem"}}
          {{change_password role="menuitem"}}
          {{link "sign_out" role="menuitem"}}
        </div>
      </div>
    {{else}}
      {{#link "sign_in" class="sign-in"}}
        {{t 'sign_in'}}
      {{/link}}
    {{/if}}
  </div>
</header>
